<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shooting Balls</title>
    <link rel="stylesheet" href="./style/index.css" />
  </head>
  <body>
    <h1 class="HeadlineStartPage">Shooting Balls</h1>
    <a class="aStart" href="/game">START</a>
  </body>
</html>
